In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine
import sqlalchemy.dialects.sqlite
from sqlalchemy.orm import declarative_base
import sqlite3

In [3]:
with open("C:\\Users\\manme\\Downloads\\archive (1)\\yelp_academic_dataset_business.json", 'r',encoding="utf-8") as f:
   business_data = [json. loads (line) for line in f]
business_df = pd.DataFrame (business_data)
print(business_df.shape)

(150346, 14)

In [4]:
with open("C:\\Users\\manme\\Downloads\\archive (1)\\yelp_academic_dataset_checkin.json", 'r',encoding="utf-8") as f:
   checkin_data = [json. loads (line) for line in f]
checkin_df = pd.DataFrame(checkin_data)
           
print (checkin_df.shape)

(131930, 2)

In [5]:
with open("C:\\Users\\manme\\Downloads\\archive (1)\\yelp_academic_dataset_review.json", 'r',encoding="utf-8") as f:
   review_data = [json. loads (line) for line in f]
review_df = pd.DataFrame(review_data)
print (review_df.shape)

(6990280, 9)

In [6]:
with open("C:\\Users\\manme\\Downloads\\archive (1)\\yelp_academic_dataset_tip.json", 'r',encoding="utf-8") as f:
    tip_data = [json. loads (line) for line in f]
tip_df = pd.DataFrame(tip_data)
print(tip_df.shape)

(908915, 5)

In [7]:
with open("C:\\Users\\manme\\Downloads\\archive (1)\\yelp_academic_dataset_user.json", 'r',encoding="utf-8") as f:
    user_data  = [json. loads (line) for line in f]
user_df = pd.DataFrame(user_data)
print(user_df.shape)

(1987897, 22)

In [ ]:
print ("2")

In [8]:
business_df.drop(['attributes','hours'],axis=1,inplace=True)

In [9]:
engine = create_engine('sqlite:///yelp.db')

In [ ]:
###import mysql.connector as sql
#mydb = sql.connect(
#host="localhost",
#user="root",
#passwd="314159",
#use_pure = True
#)
#print (mydb)

In [10]:
def load_dataframe(df,table_name, engine):
    df.to_sql(table_name,con=engine,if_exists='replace',index=False)
    
#Load each DataFrame into a separate table
load_dataframe(business_df,'business',engine)
load_dataframe(review_df,'review',engine)
load_dataframe(user_df,'user',engine)
load_dataframe(tip_df,'tip',engine)
load_dataframe(checkin_df,'checkin',engine)